.eventwrap {
    display: flex;
    flex-direction: column;
    columns: 2 auto;
}

.flex {
    display: flex;
    flex-direction: row;
}

.img {
    width: 45%;
    height: 250px;
    margin: 10px;
}